@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
.genlayout {
  max-width: 1000px;
  margin: auto;
  /* font-family: "Inter", sans-serif; */
}
body {
  margin: 0;
}

.headersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.logo > img {
  width: 40px;
  height: 45px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  gap: 7px;
  align-items: center;
}
.logo > h3 {
  color: #101a24;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 17px;
}

.navlinks {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.navlinks > a {
  text-decoration: none;
  color: #101a24;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
}
.bookatable {
  height: 45px;
  padding: 20px;
  color: white;
  background-color: #ea6d27;
  border: none;
  display: flex;
  align-items: center;
  font-family: "David Libre", serif;
  font-size: 17px;
  font-weight: 400;
  border-radius: 8px 3px;
  box-shadow: 0rem 0.18rem 1px #00000040;
}
.sectionone {
  max-width: 1150px;
  margin: auto;

  margin-top: 50px;
  display: flex;

  height: 780px;
}
.divholdingtheimage > img {
  width: 104px;
  margin-left: 20px;
  margin-top: 60px;
}
.firstdiv {
  margin-left: 73px;
  margin-top: 40px;
}
.firstdiv > h3 {
  font-weight: 500;
  font-size: 65px;
  width: 510px;
  font-family: "David Libre", serif;
  line-height: 72px;
  color: #101a24;
}

.firstparagraph {
  margin-top: 50px;
  width: 400px;
  font-family: "Inter", sans-serif;
  color: #5c6574;
  line-height: 29px;
  font-weight: 400;
  font-size: 14px;
}

.twobtn {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}
.threelinks {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.threelinks > a {
  text-decoration: none;
  padding: 9px;
  border: 1px solid #101a24;
  border-radius: 70px;
  display: flex;
  align-items: center;
}
.threelinks > a > img {
  width: 17px;
}
.linediv {
  border: 1px solid #000000;
  width: 100px;
  opacity: 0.4;
}

.menubtn {
  width: 95px;
  padding: 7px;
  color: white;
  background-color: #101a24;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "David Libre", serif;
  font-size: 17px;
  font-weight: 400;
  border-radius: 13px 3px;
  box-shadow: 0rem 0.18rem 1px #00000026;
}
.secondbtn {
  width: 135px;
  padding: 12px;
  color: white;
  background-color: #ea6d27;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "David Libre", serif;
  font-size: 17px;
  font-weight: 400;
  border-radius: 13px 3px;
  box-shadow: 0rem 0.18rem 1px #00000026;
}

.seconddiv {
  height: 600px;

  position: relative;
}

.firsttwoimages {
  margin-left: 320px;
}
.firsttwoimages > img {
  width: 250px;
}
.firstflower > img {
  width: 350px;
  /* height: 130px; */
}

.firstflower {
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 1;
  margin-right: 320px;
}
.holdingbothdiv {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.thirdpicture {
  margin-left: 410px;
  margin-top: 100px;
}

.thirdpicture > img {
  width: 190px;
}
.mainimage {
  position: absolute;
  top: 100px;
  left: 41px;
  z-index: 2;
}
.mainimage > img {
  width: 450px;
  height: 580px;
}
.plateimage > img {
  width: 270px;
}

.plateimage {
  position: relative;
  top: -210px;
  left: -120px;

  z-index: 3;
}
.headersectiontwo {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 60px;
}

.leftimage {
  width: 170px;
  height: 170px;
  position: relative;
  top: -30px;
  right: -15px;
  opacity: 0.6;
}
.rightimage {
  width: 150px;
  height: 190px;
  opacity: 0.1;
  position: relative;
  top: -40px;
  left: -16px;
}

.divholdingthefirsttext {
  height: 270px;
}
.divholdingthefirsttext > h3 {
  text-align: center;
  font-weight: 600;
  font-family: "David Libre", serif;
  line-height: 50px;
  font-size: 46px;
  color: #101a24;
  z-index: 1;
}
.divholdingthefirsttext > p {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-left: 35px;
  line-height: 25px;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
}

.secondpartof {
  display: flex;

  justify-content: space-between;
}
.secondsection {
  padding-top: 15px;
}

.secondpartof > div {
  border: 2px solid white;
  width: 23%;
  height: 290px;
  border-radius: 33px 4px;
  z-index: 1;
}

.firstdivcard > a {
  text-decoration: none;
  padding: 13px;
  border: none;
  border-radius: 500px;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
  z-index: 3;
  position: relative;
  left: 170px;
  top: -37px;
}
.firstdivcard > img {
  width: 200px;
  width: 190px;
  position: relative;
  top: -114px;
  right: -20px;
  z-index: 2;
}
.holdingbotho {
  position: relative;
  top: -80px;
}
.holdingbotho > h3 {
  font-weight: 700;
  font-family: "David Libre", serif;
  font-size: 18px;
  text-align: center;
  color: #101a24;
}
.holdingbotho > p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #5c6574;
  line-height: 23px;
  margin-top: 28px;
}
.threeimagesdiv {
  display: flex;
  justify-content: space-between;
}
.threeimagesdiv > :nth-child(1) {
  width: 70px;
  height: 90px;
  position: relative;
  left: 195px;
  bottom: 65px;
}
.threeimagesdiv > :nth-child(2) {
  width: 200px;
  position: relative;
  top: 40px;
  left: 150px;
}
.threeimagesdiv > :nth-child(3) {
  height: 70px;
  position: relative;
  bottom: 40px;
  left: 150px;
}
.threeimagesdiv > :nth-child(4) {
  height: 100px;
  position: relative;
  bottom: 60px;
  left: 10px;
}

.lastcontainerd {
  display: flex;
  height: 660px;
}
.firstboy {
  width: 60%;
}

.firstboy > :nth-child(1) {
  width: 500px;
  position: relative;
  left: 40px;
}
.firstboy > :nth-child(2) {
  width: 80px;
  z-index: 1;
  position: relative;
  bottom: 180px;
  right: 480px;
}
.firstboy > :nth-child(3) {
  width: 180px;
  z-index: 1;
  position: relative;
  bottom: 460px;
  left: 430px;
}
.firstboy > :nth-child(4) {
  width: 80px;
  z-index: 1;
  position: relative;
  bottom: 190px;
  left: 80px;
}
.firstboy > :nth-child(5) {
  width: 160px;
  z-index: 1;
  position: relative;
  bottom: 160px;
  right: 180px;
}
.firstboy > :nth-child(6) {
  height: 70px;
  position: relative;
  bottom: 200px;
  left: 70px;
  opacity: 0.5;
}

.secondboy > :nth-child(1) {
  width: 180px;
  position: relative;
  top: 90px;
  right: 40px;
  opacity: 0.5;
}

.secondboy > :nth-child(2) {
  font-size: 700;
  font-family: "David Libre", serif;
  font-size: 50px;
  line-height: 45px;
  color: #101a24;
}
.secondboy > :nth-child(3) {
  color: #5c6574;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  margin-top: 23px;
  font-size: 12px;
  z-index: 1;
}
.images > :nth-child(1) {
  position: relative;
  bottom: 170px;
  width: 50px;
  opacity: 0.5;
}
.seccondflowers {
  width: 270px;
  position: relative;
  bottom: 150px;
  left: 170px;
}
.rdsecimage {
  width: 55px;
  position: relative;
  top: 10px;
}
.stimage {
  width: 250px;
  height: 260px;
  position: relative;
  top: 40px;
  left: 14px;
}
.divholdingthesction {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -90px;
}
.firstpartthirdsec {
  width: 50%;
}
.firstpartthirdsec > h3 {
  font-size: 700;
  font-family: "David Libre", serif;
  font-size: 50px;
  line-height: 45px;
  color: #101a24;
  z-index: 1;
}
.firstpartthirdsec > p {
  color: #5c6574;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  margin-top: 23px;
  font-size: 12px;
  z-index: 1;
}
.griddiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 45px;
}

.firstgriddiv {
  display: flex;
  align-items: start;
  height: 50px;
  gap: 7px;
}
.firstgriddiv > img {
  margin-top: 4px;
  width: 14px;
}
.firstgriddiv > p {
  color: #5c6574;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 21px;
}
input[type="checkbox"]:checked {
  accent-color: #ea6d27;
}
.twobts {
  margin-top: 17px;
  display: flex;
  gap: 16px;
}
.secondpartthirdsec {
  width: 45%;
  height: 500px;
}
.secondpartthirdsec > img {
  width: 100%;
  height: 580px;
  position: relative;
  top: -80px;
}
.customersection {
  margin-top: 45px;
  display: flex;
}
.customersection > img {
  width: 400px;
}
.happycustomers {
  margin-top: 15px;
  z-index: 1;
  position: relative;
  right: 90px;
}

.happycustomers > h3 {
  font-size: 700;
  font-family: "David Libre", serif;
  font-size: 50px;
  line-height: 45px;
  color: #101a24;
  z-index: 1;
  width: 500px;
}

.happycustomers > p {
  color: #5c6574;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  margin-top: 25px;
}
/* aisides */
.slider {
  width: 400px;
  margin: auto;
  text-align: center;
}

.slide {
  display: none;
  height: 330px;
  width: 520px;
  margin-top: 90px;
  background: white;
  border-radius: 70px 20px;
}
.womanimage {
  border-radius: 50%;
  width: 100px;
  position: relative;
  top: -50px;
  left: 80px;
}
.starsimage {
  position: relative;
  right: 50px;
}

.lorem {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #5c6574;
  text-align: center;
  margin-top: 25px;
  line-height: 24px;
}
.loremsmal {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #5c6574;
  text-align: center;
  margin-top: 8px;
}
h4 {
  text-align: center;
  color: #101a24;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-top: 15px;
}

.slide.active {
  display: block;
}

.dots {
  margin-top: 40px;
  margin-left: 110px;
}

.dot {
  height: 8px;
  width: 8px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: orange;
}
/* ended */

.sectionfive {
  height: 920px;
  background-color: #f3f4f4;
}

.secondflayimage {
  width: 350px !important;
}
.sarchbar {
  height: 330px;
  margin-top: -40px;
  border-radius: 30px;
  background-image: url(./images/cta-img-bg\ 1.png);
}

.promomessage {
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: "David Libre", serif;
  line-height: 50px;
  font-size: 45px;
  position: relative;
  top: 100px;
}
.inputbar {
  position: relative;
  top: 150px;
  left: 200px;
  width: 800px;
}
.inputbar > input {
  padding: 13px;
  border-radius: 7px;
  outline: none;
  border: none;
  width: 600px;
}
.inputbar > input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #101a24;
  opacity: 0.4;
}
.inputbar > button {
  padding: 7px;
  width: 110px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: white;
  background-color: #ea6d27;
  border: none;
  border-radius: 5px;
  position: relative;
  right: 120px;
}

.footerdiv {
  display: flex;
  height: 350px;
  margin-top: 180px;
  z-index: 1;
}
.loremsmaly {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #5c6574;
  line-height: 24px;
}
.linkinside {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #5c6574;
}
h5 {
  color: #101a24;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  margin-top: 25px;
}
.firstfootersec {
  width: 40%;
}

.divclass {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.divclass > p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #5c6574;
  line-height: 24px;
}

.secondfooterch > a {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #5c6574;
  text-decoration: none;
}
.secondfooterch {
  width: 20%;
}
.linedivlong {
  margin-top: -60px;
  border: 1px solid #101a24;
  width: 100%;
  opacity: 0.5;
}
.finalline {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.spanimage {
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 1;
}
.spanimage > p {
  font-weight: 400;
  font-size: 12px;
  color: #5c6574;
  font-family: "Inter", sans-serif;
}
.isaaac {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #000000;
  opacity: 0.6;
}
.linkguys > a {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #5c6574;
  text-decoration: none;
}
.linkguys {
  display: flex;
  gap: 17px;
}
.lastborn {
  width: 600px;
  position: relative;
  right: 150px;
  bottom: 180px;
}
